WCFClientWithoutFactory/Service References/DispatchRef/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kts.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kts.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SqlConnectionString">
    <xs:sequence>
      <xs:element name="_x003C_ConnectionTimeout_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Database_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Server_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="cached" nillable="true" type="xs:string" />
      <xs:element name="isFormatted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlConnectionString" nillable="true" type="tns:SqlConnectionString" />
</xs:schema>