Kts.Gis/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kts.Gis.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kts.Gis.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Packet">
    <xs:sequence>
      <xs:element name="_x003C_id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_test_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Packet" nillable="true" type="tns:Packet" />
</xs:schema>