Kts.GisClientTest/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kts.Gis.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kts.Gis.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoginModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoginModel" nillable="true" type="tns:LoginModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoginModel" nillable="true" type="tns:ArrayOfLoginModel" />
  <xs:complexType name="LoginModel">
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginModel" nillable="true" type="tns:LoginModel" />
  <xs:complexType name="ArrayOfAccessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessModel" nillable="true" type="tns:AccessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessModel" nillable="true" type="tns:ArrayOfAccessModel" />
  <xs:complexType name="AccessModel">
    <xs:sequence>
      <xs:element name="_x003C_Kind_x003E_k__BackingField" type="tns:AccessKind" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessModel" nillable="true" type="tns:AccessModel" />
  <xs:simpleType name="AccessKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CanDraw" />
      <xs:enumeration value="CanDrawIS" />
      <xs:enumeration value="IsAdmin" />
      <xs:enumeration value="PermittedRegions" />
      <xs:enumeration value="PermittedTypes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccessKind" nillable="true" type="tns:AccessKind" />
</xs:schema>