Kts.GisClientTest/Service References/ServiceReference1/WcfFigureAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfDispatchServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWcfDispatchServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kts.Utilities" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kts.Gis.Data" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Kts.Gis.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfDispatchServer_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoIt_InputMessage">
    <wsdl:part name="parameters" element="tns:DoIt" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoIt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoItResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoArray_InputMessage">
    <wsdl:part name="parameters" element="tns:DoArray" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDictionary" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_DoDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_getServerList2_InputMessage">
    <wsdl:part name="parameters" element="tns:getServerList2" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_getServerList2_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServerList2Response" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_getServerList_InputMessage">
    <wsdl:part name="parameters" element="tns:getServerList" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_getServerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServerListResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_getPacket_InputMessage">
    <wsdl:part name="parameters" element="tns:getPacket" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_getPacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPacketResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_GetSqlDataService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlDataService" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_GetSqlDataService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlDataServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_GetLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogins" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_GetLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_GetAll" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_GetRestrictions_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_GetRestrictions" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_GetRestrictions_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_GetRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_GetRoleName_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_GetRoleName" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_GetRoleName_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_GetRoleNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_IsPasswordCorrect_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_IsPasswordCorrect" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_IsPasswordCorrect_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_IsPasswordCorrectResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_SetIsUserLogged_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_SetIsUserLogged" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_LoginAccessService_SetIsUserLogged_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccessService_SetIsUserLoggedResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_MainDispathMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:MainDispathMethod" />
  </wsdl:message>
  <wsdl:message name="IWcfDispatchServer_MainDispathMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:MainDispathMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfDispatchServer">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoWork" message="tns:IWcfDispatchServer_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoWorkResponse" message="tns:IWcfDispatchServer_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoIt">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoIt" message="tns:IWcfDispatchServer_DoIt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoItResponse" message="tns:IWcfDispatchServer_DoIt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoArray" message="tns:IWcfDispatchServer_DoArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoArrayResponse" message="tns:IWcfDispatchServer_DoArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoDictionary" message="tns:IWcfDispatchServer_DoDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/DoDictionaryResponse" message="tns:IWcfDispatchServer_DoDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServerList2">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/getServerList2" message="tns:IWcfDispatchServer_getServerList2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/getServerList2Response" message="tns:IWcfDispatchServer_getServerList2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/getServerList" message="tns:IWcfDispatchServer_getServerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/getServerListResponse" message="tns:IWcfDispatchServer_getServerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPacket">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/getPacket" message="tns:IWcfDispatchServer_getPacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/getPacketResponse" message="tns:IWcfDispatchServer_getPacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/Initialize" message="tns:IWcfDispatchServer_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/InitializeResponse" message="tns:IWcfDispatchServer_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSqlDataService">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/GetSqlDataService" message="tns:IWcfDispatchServer_GetSqlDataService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/GetSqlDataServiceResponse" message="tns:IWcfDispatchServer_GetSqlDataService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/GetLogins" message="tns:IWcfDispatchServer_GetLogins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/GetLoginsResponse" message="tns:IWcfDispatchServer_GetLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetAll" message="tns:IWcfDispatchServer_LoginAccessService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetAllResponse" message="tns:IWcfDispatchServer_LoginAccessService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_ChangePassword" message="tns:IWcfDispatchServer_LoginAccessService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_ChangePasswordResponse" message="tns:IWcfDispatchServer_LoginAccessService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetRestrictions">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRestrictions" message="tns:IWcfDispatchServer_LoginAccessService_GetRestrictions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRestrictionsResponse" message="tns:IWcfDispatchServer_LoginAccessService_GetRestrictions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetRoleName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRoleName" message="tns:IWcfDispatchServer_LoginAccessService_GetRoleName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRoleNameResponse" message="tns:IWcfDispatchServer_LoginAccessService_GetRoleName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_IsPasswordCorrect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_IsPasswordCorrect" message="tns:IWcfDispatchServer_LoginAccessService_IsPasswordCorrect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_IsPasswordCorrectResponse" message="tns:IWcfDispatchServer_LoginAccessService_IsPasswordCorrect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_SetIsUserLogged">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_SetIsUserLogged" message="tns:IWcfDispatchServer_LoginAccessService_SetIsUserLogged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/LoginAccessService_SetIsUserLoggedResponse" message="tns:IWcfDispatchServer_LoginAccessService_SetIsUserLogged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MainDispathMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfDispatchServer/MainDispathMethod" message="tns:IWcfDispatchServer_MainDispathMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfDispatchServer/MainDispathMethodResponse" message="tns:IWcfDispatchServer_MainDispathMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfDispatchServer" type="tns:IWcfDispatchServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoIt">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoArray">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDictionary">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerList2">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/getServerList2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerList">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/getServerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPacket">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/getPacket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSqlDataService">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/GetSqlDataService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/GetLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetAll">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetRestrictions">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRestrictions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetRoleName">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRoleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_IsPasswordCorrect">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_IsPasswordCorrect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_SetIsUserLogged">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_SetIsUserLogged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MainDispathMethod">
      <soap:operation soapAction="http://tempuri.org/IWcfDispatchServer/MainDispathMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IWcfDispatchServer" type="tns:IWcfDispatchServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IWcfDispatchServer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoIt">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoIt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoArray">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDictionary">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/DoDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerList2">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/getServerList2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerList">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/getServerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPacket">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/getPacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSqlDataService">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/GetSqlDataService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogins">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/GetLogins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetAll">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetRestrictions">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRestrictions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_GetRoleName">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_GetRoleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_IsPasswordCorrect">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_IsPasswordCorrect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccessService_SetIsUserLogged">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/LoginAccessService_SetIsUserLogged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MainDispathMethod">
      <soap12:operation soapAction="http://tempuri.org/IWcfDispatchServer/MainDispathMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfDispatchServer">
    <wsdl:port name="BasicHttpBinding_IWcfDispatchServer" binding="tns:BasicHttpBinding_IWcfDispatchServer">
      <soap:address location="http://localhost:8080/Kts.Gis.Data.WcfFigureAccessService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IWcfDispatchServer" binding="tns:NetTcpBinding_IWcfDispatchServer">
      <soap12:address location="net.tcp://localhost:45617/Kts.Gis.Data.IWcfDispatchServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45617/Kts.Gis.Data.IWcfDispatchServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>shkulev_ki@jkhrs.ru</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>